@import url("https://fonts.googleapis.com/css?family=Nunito");
#body-row {
  margin-left: 0;
  margin-right: 0;
}

#sidebar-container {
  min-height: 100vh;
  background-color: #2d486c;
  padding: 0;
  /* Sidebar sizes when expanded and expanded */
  /* Menu item*/
  /* Submenu item*/
  /* Separators */
  /* Closed submenu icon */
  /* Opened submenu icon */
}

#sidebar-container.sidebar-expanded {
  width: 230px;
}

#sidebar-container.sidebar-collapsed {
  width: 60px;
}

#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

#sidebar-container .sidebar-submenu {
  font-size: 0.9rem;
}

#sidebar-container .list-group-item {
  background-color: #2A4365;
}

#sidebar-container .list-group-item.active {
  background-color: #1b2b41;
  border: none;
}

#sidebar-container .sidebar-separator-title {
  background-color: #2A4365;
  height: 35px;
}

#sidebar-container .sidebar-separator {
  background-color: #2A4365;
  height: 25px;
}

#sidebar-container .logo-separator {
  background-color: #2A4365;
  height: 60px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: '\25b6';
  /* You should use \ and not /*/
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: '\25bc';
  display: inline;
  text-align: right;
  padding-left: 10px;
}
